<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true">
    
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>Integration</directory>
        </testsuite>
        <testsuite name="Feature Tests">
            <directory>Feature</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../includes</directory>
            <directory suffix=".php">../api</directory>
        </include>
        <exclude>
            <directory>../vendor</directory>
            <file>../includes/autoload.php</file>
        </exclude>
        <report>
            <html outputDirectory="coverage/html"/>
            <text outputFile="coverage/coverage.txt"/>
            <clover outputFile="coverage/clover.xml"/>
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="TEST_DB_HOST" value="localhost"/>
        <env name="TEST_DB_USER" value="root"/>
        <env name="TEST_DB_PASS" value=""/>
        <env name="TEST_DB_NAME" value="slpa_test"/>
    </php>

    <logging>
        <junit outputFile="logs/junit.xml"/>
        <testdoxHtml outputFile="logs/testdox.html"/>
    </logging>
</phpunit>
